.user {
	margin: calc(5px + 5 * (100vw / 1920)) 0;
	padding: calc(5px + 5 * (100vw / 1920));
	border-radius: calc(5px + 5 * (100vw / 1920));
	text-align: center;
	background: rgb(21 21 21);
  
	h1 {
	  font-size: calc(14px + 14 * (100vw / 1920));
	}
  
	&__info {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
  
	  ul {
		margin: calc(5px + 5 * (100vw / 1920));
		text-align: left;
  
		p {
		  font-weight: 700;
		  font-size: calc(12px + 12 * (100vw / 1920));
		}
  
		li {
		  font-size: calc(10px + 10 * (100vw / 1920));
		}
	  }
	}
  }