.select {
  background: rgb(21, 21, 21);
  padding: calc(5px + 5 * (100vw / 1920));
  margin: calc(5px + 5 * (100vw / 1920)) 0;
  border-radius: calc(5px + 5 * (100vw / 1920));
}

a {
  &:hover {
    cursor: pointer;
    background-color: rgb(28, 28, 28);
  }
}

