.item {
	text-align: center;
	border-radius: calc(5px + 5 * (100vw / 1920));
	padding: calc(5px + 5 * (100vw / 1920));
	margin: calc(5px + 5 * (100vw / 1920)) 0;
	background: rgb(21, 21, 21);
  
	h2,
	h3 {
	  font-size: calc(12px + 12 * (100vw / 1920));
	}
  
	a:hover {
	  cursor: pointer;
	  background-color: rgb(36, 36, 36);
	}
  
	&__content {
	  width: 100%;
	  border-radius: calc(5px + 5 * (100vw / 1920));
	  padding: calc(5px + 5 * (100vw / 1920));
	  margin: calc(5px + 5 * (100vw / 1920)) 0;
	  background: rgb(28, 28, 28);
	  text-align: left;
  
	  p {
		font-size: calc(10px + 10 * (100vw / 1920));
		span {
		  font-weight: bold;
		}
	  }
	}
  }
  